    @media screen and (max-width:1024px){
        .myself{
            width: 100%;
        }
        .myself h1{
            font-size: 5rem;
        }
        h2{
            font-size: 2.2rem;
        }
        h3 {
            font-size: 1.55rem;
        }
        .profile {
            width: 45%;
        }
        .skill-row {
            width: 60%;
        }
        .c {
            margin-right: 30px;
            margin-top: 20px;
        }
    }
    @media screen and (max-width:824px){
        nav .navbar-brand img {
            width: 12%;
        }
        .myself {
            width: 78%;
        }
        .myself h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 15px;
        }
        .profile img {
            width: 25%;
        }
        .profile {
            width: 60%;
        }
        .skill-row {
            width: 65%;
        }
        .c {
            margin-top: 3rem;
        }
        .contact-me {
            width: 60%;
        }        
        .bottom-container a{
            font-size: 25px;
        }
        .mybutton {
            font-size: 15px;
        }
    }
    @media screen and (max-width:812px){
        
    }
    @media screen and (max-width:768px){
        .navbar-brand {
            width: 50%;
        }
        nav .navbar-brand img {
            width: 23%;
        }
        .myself {
            width: 100%;
            padding-top: 14%;
        }
        p {
            font-size: 14px;
        }
        h3 {
            font-size: 1.2rem;
        }
        .c {
            width: 30%;
            margin-right: 0;
            margin-bottom: 2rem;
            margin-top: 0;
        }
        .skill-row{
            text-align: center;
        }
        .nowhidden{
            display: block;
        }
        .laterhidden{
            display: none;
        }
        
    }
    @media screen and (max-width:736px){
        nav .navbar-brand img {
            width: 20%;
        }
        
    }
    @media screen and (max-width:731px){
        
    }
    @media screen and (max-width:668px){
        .myself {
            width: 92%;
        }
        .myself h1 {
            font-size: 55px;
            margin-bottom: 0;
        }
        .myself h2{
            font-size: 25px;
            margin-top: 20px;
        }
        .bottom-container a {
            font-size: 22px;
        }
        .copyright {
            font-size: 12px;
        }
    }
    @media screen and (max-width:640px){
        nav .navbar-brand img {
            width: 21%;
        }
        .myself {
            padding-top: 8%;
        }
        .myself h1 {
            font-size: 50px;
        }
        .myself h2 {
            font-size: 20px;
        }
        .profile {
            width: 65%;
        }
        .profile img {
            width: 20%;
        }
        h2 {
            font-size: 1.6rem;
            /* margin-top: 25px; */
            margin: 25px 0;
        }
        h3 {
            margin-bottom: 20px;
        }
        c {
            width: 26%;
        }
        .mybutton {
            font-size: 14px;
        }
    }
    @media screen and (max-width:568px){
        nav {
            padding: 0 17px !important;
        }
        .myself {
            padding-top: 7%;
        }
        .myself h1 {
            font-size: 40px;
        }
        .myself h2 {
            font-size: 16px;
        }
        h2 {
            font-size: 1.4rem;
        }
        p{
            font-size: 12px;
        }
        .mybutton {
            font-size: 12px;
        }
    }
    @media screen and (max-width:414px){
        .myself {
            padding-top: 14%;
        }
    }
    @media screen and (max-width:411px){
        
    }
    @media screen and (max-width:375px){
    
    }
    @media screen and (max-width:360px){
    
    }
    @media screen and (max-width:320px){
    
    }